@{
    ViewBag.Title = "Canvas";
}

<h2>Canvas</h2>
<div class="drawing-room">
    
    <div class="horizontal-toolbar">
        <div id="line-thickness-view">
            <div class="circle"></div>
        </div>
        <div id="line-thickness-picker"></div>
    </div>

    <div class="vertical-left-toolbar">
        <div class="color-picker"></div>
    </div>

    <canvas id="canvas" height="600" width="860">
    </canvas>

</div>