@{
    ViewBag.Title = "Canvas";
}

<h2>Canvas</h2>
<div class="drawing-room">
    
    <div class="horizontal-toolbar">
        <div id="line-thickness-view">
            <div class="circle"></div>
        </div>
        <div id="line-thickness-picker"></div>
    </div>

    <div class="vertical-left-toolbar">
        <input id="current-color" type="text"/>
        <ul id="palette">
            <li class="palette-black"></li>
            <li class="palette-white"></li>
            <li class="palette-gray"></li>
            <li class="palette-silver"></li>
            <li class="palette-navy"></li>
            <li class="palette-blue"></li>
            <li class="palette-teal"></li>
            <li class="palette-aqua"></li>
            <li class="palette-green"></li>
            <li class="palette-lime"></li>
            <li class="palette-olive"></li>
            <li class="palette-yellow"></li>
            <li class="palette-purple"></li>
            <li class="palette-fuchsia"></li>
            <li class="palette-maroon"></li>
            <li class="palette-red"></li>
        </ul>
    </div>
    
    

    <canvas id="canvas" height="600" width="860">
    </canvas>

</div>