/**************   Palette  ***************/
/*****************************************/
.palette-black { background-color: #000; }
.palette-white { background-color: #fff; }
.palette-gray { background-color: #808080; }
.palette-silver { background-color: #C0C0C0; }
.palette-navy { background-color: #000080; }
.palette-blue { background-color: #0000FF; }
.palette-teal { background-color: #008080; }
.palette-aqua { background-color: #00FFFF; }
.palette-green { background-color: #008000; }
.palette-lime { background-color: #00FF00; }
.palette-olive { background-color: #808000;}
.palette-yellow { background-color: #FFFF00; }
.palette-purple { background-color: #800080; }
.palette-fuchsia { background-color: #FF00FF; }
.palette-maroon { background-color: #800000; }
.palette-red { background-color: #FF0000; }

#palette {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-top: 5px;
}
    #palette li {
        float: left;
        border: 1px solid black;
        width: 40px;
        height: 40px;
        margin: 2px;
    }


/**************   Toolbars  ***************/
/*****************************************/
.vertical-left-toolbar {
    width: 92px;
    float: left;
    margin-right: 5px;
    overflow: hidden;
}
.vertical-right-toolbar {
    width: 92px;
    float: right;
    margin-left: 5px;
    overflow: hidden;
}




.drawing-room {
    margin-top: 10px;
}

#current-color {
    margin: 2px;
    padding: 0;
    max-width: 86px;
    height: 40px;
    border: 1px solid black;
}

canvas {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid black;
    float: left;
}

.ui-colorpicker  {
    width: 327px !important; /* ToDo: changed */
}